@tailwind base;
@tailwind components;
@tailwind utilities;

$bg: #e5f4ff;
$fg: #171717;

:root {
    --background: #{$bg};
    --foreground: #{$fg};
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
